* {
    margin: 0;
    padding: 0;
    font-style: 0;
    border: none;
}
body {
    background-image: linear-gradient(-45deg, #3335388a, rgb(65, 65, 73));
    width: 100vw;
    height: 100vh;
}
.card__front {
    width: 300px;
    height: 450px;
    margin: auto;

    background: rgb(217, 231, 179);
}
.card__titleAndDescription {

}
.card__title {
    width: 200px;
    height: 40px;
    margin: auto;

    background: rgb(231, 191, 179);
}
.card__description {
    width: 200px;
    height: 100px;
    margin: auto;

    background: rgb(144, 192, 13);
}
.card__boxImg {
    width: 200px;
    height: 150px;
    margin: auto;

    background: rgb(184, 11, 175);
}
.card__img{
    width: 20px;
    height: 10px;
    margin: auto;

    background: rgb(11, 184, 40);
}
.card__print {

}
.card__boxBttns {
    width: 200px;
    height: 100px;
    margin: auto;

    background: rgb(179, 231, 215);
}
.card__bttn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 20px;
    height: 10px;
    margin: auto;

    background: rgb(104, 126, 4);
}
.Card__bttn--turn {

}
.Card__bttn--runRepo {

}
.Card__bttn--runProject {

}
.card__back {
    display: none;

}
.card__boxTags {

}
.card__boxImg {

}
.card__graphic{

}
.hiddenThis{
    display: none;
}