* {
    margin: 0;
    padding: 0;
    font-style: 0;
    border: none;
}
body {
    background-image: linear-gradient(-45deg, #3335388a, rgb(65, 65, 73));
    width: 100vw;
    height: 100vh;
}
.card__front {

}
.card__titleAndDescription {

}
.card__title {

}
.card__description {

}
.card__boxImg {

}
.card__img{

}
.card__print {

}
.card__boxBttns {

}
.card__bttn {

}
.Card__bttn--turn {

}
.Card__bttn--runRepo {

}
.Card__bttn--runProject {

}
.card__back {

}
.card__boxTags {

}
.card__boxImg {

}
.card__graphic{

}
.hiddenThis{
    display: none;
}