* {
    margin: 0;
    padding: 0;
    font-style: 0;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    background: #d6d6d68a;
}
body {
    background: linear-gradient(95deg, #d6d6d68a, rgb(44, 44, 61));
   background-size: auto;
    
}
.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
    max-width: 1000px;
    margin: auto;
}

.card__scope {
    display: flex;
    width: 19rem;
    height: 22rem;
    min-width: 300px;

    transform-style: preserve-3d;
    transition: all .6s;

    border-radius: 15px;
    background-image: linear-gradient(to bottom, #0f1630 10%, #121a38 40%, #1f2d61 60%, #223269 80%, #253672 90%, #24346e 100%);
    border: 1px solid #fdfdfd4d;
    box-shadow: 4px 4px 8px #0000002c;
   
}
.flip, .card__front {
    transform: rotateY(180deg);
}
.card__scope:hover { 
    border: 1px solid #ffffff7e; 
}
.card__front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 1.25rem 1.25rem 0.8rem 1.25rem;
}
.card__titleAndDescription {
    
}
.card__title {
    overflow: hidden;

    font-size: 1.05rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;

    color: #ffffff;
}
.card__description {
    color: #dadada;
    height: 6.6rem;
    overflow-y: auto;
}
.card__boxImg {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    border-radius: 10px;
    overflow: hidden;

    background: #dadada;
}
.card__img{
    
}
.card__print {
    min-width: 100%;
    min-height: 100%;
    user-select: none;
    -webkit-user-drag: none;
    transition-duration: 1600ms;
}
.card__print:active {
    transform: scale(0.6);
}
.card__boxBttns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

}
.card__bttn {
    width: 2rem;
    height: 2rem;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
}
.Card__bttn--turn {

}
.Card__bttn--runRepo {

}
.Card__bttn--runProject {

}
.card__back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 1.25rem 1.25rem 0.8rem 1.25rem;

}
.card__boxTags {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
    height: 6.6rem;
    
}
.card__tag {
    width: max-content;
    max-width: 100%;
    height: max-content;
    margin-left: 5px;
    margin-right: 5px;
    
}
.card__boxImg {

}
.card__graphic{

}
.cardCard__bttnIcon {
    width: 100%;
    opacity: .6;
    user-select: none;
    user-zoom: none;
    -webkit-user-drag: none;
}
.cardCard__bttnIcon:hover {
    opacity: 1;
    
}
.hiddenThis, .card__description::-webkit-scrollbar, .card__boxTags::-webkit-scrollbar{
    display: none;
}